*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background-color: #060642;
}

.container{
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0px;
    background-color: white;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}

.heading{
    height: 60px;
    border-bottom: #060642 1px solid;
    margin-bottom: 20px;
    width: 90%;
}

#question{
    width: 100%;
    text-align: start;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
    padding-left: 50px;
}

#answers{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: flex-start;
    cursor: pointer;
}


.btn{
    width: 100%;
    max-width: 900px;
    height: 38px;
    margin-bottom: 15px;
    text-align: start;
    background-color: #e2e2ed;
    padding: 5px 15px;
    border: #060642 solid 1px;
    border-radius: 4px;
    font-size: 16px;
}

.btn:hover:not([disabled])
{
    background-color: #b6b6db;
}
.btn:disabled{
    cursor: no-drop;
}
#nxt-btn{
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    border: 1px black solid;
    background-color: #060642;
    padding:5px;
    font-size: 16px;
    margin: 20px auto;
}

.correct{
    background-color: #42dc63;
}

.incorrect{
    background-color: #ea4a4a;
}
